$back: #f1f3f5 !default;
$text1: rgb(0 0 0 / 90%) !default;
$text2: rgb(0 0 0 / 60%) !default;
$text3: rgb(0 0 0 / 40%) !default;
$white: #fff !default;
$white-hover: hsl(200deg 12% 98%) !default;
$highlight: #0a59f7 !default;
$highlight-hover: #074fdf !default;
$divider: rgb(51 0 0 / 20%) !default;
