.textarea {
  box-sizing: border-box;
  font-size: 15px;
  line-height: 1.5em;
  white-space: pre-wrap;
  vertical-align: baseline;
  word-wrap: break-word;
  word-break: break-word;
  border: none;
  outline: none;
  resize: none;
}
