$back: #f1f3f5 !default;
$text1: rgb(0 0 0 / 90%) !default;
$text2: rgb(0 0 0 / 60%) !default;
$text3: rgb(0 0 0 / 40%) !default;
$white: #fff !default;
$white-hover: hsl(200deg 12% 98%) !default;
$highlight: #0a59f7 !default;
$highlight-hover: #074fdf !default;
$divider: rgb(51 0 0 / 20%) !default;

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 480px;
  padding: 20px;
  background-color: $back;
}

.btn {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-height: 40px;
  padding: 10px 20px;
  overflow: hidden;
  color: $text3;
  font-size: 15px;
  line-height: 1;
  background-color: $white;
  border: solid 1px $text3;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  transition: .1s;
  pointer-events: none;

  &.actived {
    color: $highlight;
    border-color: $highlight;
    cursor: pointer;
    pointer-events: unset;

    &:hover {
      color: $highlight-hover;
      background-color: $white-hover;
      border-color: $highlight-hover;
    }
  }
}

.title-box {
  margin-bottom: 20px;

  .main {
    margin-right: 5px;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: .05em;
  }

  .sub {
    color: $text2;
    font-size: 18px;
    letter-spacing: .05em;
  }
}

.content-box + div {
  margin-top: 30px;
}

.input-box {
  border-bottom: 2px solid $divider;

  .input {
    width: 100%;
    font-size: 18px;
    line-height: 45px;
    background-color: transparent;
    border: none;
    outline: none;

    &::placeholder {
      color: $text3;
      letter-spacing: .05em;
    }
  }
}

.button-box {
  display: flex;
  justify-content: flex-end;

  .btn {
    margin-left: 20px;
  }
}

.result-area {
  span {
    display: block;
    margin-top: 20px;
  }
}

.basic-info-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  .basic-info {
    display: flex;
    flex-direction: row;
    align-items: center;

    .avatar {
      width: 72px;
      height: 72px;
      margin-right: 10px;
      object-fit: cover;
      border-radius: 36px;
    }

    .info {
      display: flex;
      flex-direction: column;

      .info-item {
        display: flex;
        flex-direction: row;
        align-items: center;

        & + .info-item {
          margin-top: 10px;
        }

        .tag {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 20px;
          margin-right: 5px;
          padding: 0 5px;
          color: $white;
          font-size: 12px;
          line-height: 20px;
          background-color: #000;
          border-radius: 4px;
        }

        .name {
          font-weight: 700;
          font-size: 15px;
        }

        .email {
          color: $text2;
        }
      }
    }
  }
}

.logout-btn {
  color: $highlight;
  border-color: $highlight;
}

.signature {
  color: $text2;
  font-size: 15px;
}

.notification {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4px;
  color: #fff;
  font-size: 14px;

  &.normal {
    background-color: #9ac9ff;
  }

  &.success {
    background-color: #7ccc5c;
  }

  &.warning {
    background-color: #f7bc3d;
  }

  &.error {
    background-color: #ff5b5b;
  }

}
